body {
	background-color: black;
}

h2, ul li {
	color: green;
	font-size: 5em;
	display: inline;
	margin: .5em;
}

ul li #beBolded {
	font-weight: bold;
}

.rebel {
	color: red;
}

#notRebel {
	color: blue;
}

[href] {
	font-size: 200px;
}

[href="https://google.com"] {
	color: green;
}

[href="https://google.com"]:hover {
	color: purple;
}

a:visited {
	color: yellow;
}

div p {
	background-color: white;
}

div, p {
	background-color: #C3CDE6;
}

div {
	background-color: #C3CDE6 ;
}

p {
	background-color: #C3CDE6;
}

div span {
	font-weight: bold;
	box-sizing: border-box;
	display: none;
}

